.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  padding: 2rem;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.headerInput, .searchBar, .genreDropdown {
  width: 250px;
  padding: 0.5rem;
  border: 1px solid #61dafb;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: border-color 0.3s;
}

.headerInput:focus, 
.searchBar:focus, 
.genreDropdown:hover {
  border-color: #21a1f1;
  outline: none;
}

.songList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.songItem {
  background-color: #3c4043;
  border-radius: 5px;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%; /* Изменяем ширину на 100% для адаптивности */
  max-width: 300px; /* Фиксируем максимальную ширину */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.songItem:hover {
  transform: scale(1.05);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: white;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #21a1f1;
}

.pagination button:disabled {
  background-color: #888;
  cursor: not-allowed;
}