
.container {
    display: flex;
  }
  
  .content {
    display: flex;
  }
  

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(27, 27, 27, 0.9);
  border-radius: 20px; /* Закругление углов */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Тень для эффекта */
  backdrop-filter: blur(10px); /* Эффект размытия фона */
  padding: 20px;
  width: 700px;
  margin-left: 5px;
  color: aliceblue;
}

